<footer>
    <div class="wrapper">
      <div class="about section">
        <h4>Über</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias officia cupiditate doloremque vero sint sit
          repellendus animi. Fugit enim libero suscipit, odio quia illo consectetur laudantium, est tempore temporibus
          accusantium!Odit sint quos nihil, molestiae ipsam delectus, eos vel, veritatis eum ea dignissimos.</p>
      </div>
  
      <div class="contact section">
        <h4>Kontakt</h4>
        <div class="grid-wrapper">
          <div class="icon">
            <i class="material-icons">mail_outline</i>
          </div>
          <div class="icon-section">
            <a href="mailto:info@placeholderabc.de" class="link">info@placeholderabc.de</a>
          </div>
  
          <div class="icon">
            <i class="material-icons l-place">place</i>
          </div>
  
          <div class="icon-section">
            <address>
              Demo Address<br>
              Street 5<br>
              D - 12345 Nice
            </address>
          </div>
  
        </div>
      </div>
  
      <div class="links section">
        <h4>Links</h4>
        <ul>
          <li><a href="#" class="link">Sample Link1</a></li>
          <li><a routerLink="/kontakt" class="link">Kontaktformular</a></li>
          <li><a routerLink="/datenschutz" class="link">Datenschutzerklärung</a></li>
          <li><a routerLink="/impressum" class="link">Impressum</a></li>
        </ul>
      </div>
  
    </div>
  </footer>